@import "../util";

$method-colors: (
  head: #512DA8,
  get: #0288D1,
  post: #00796B,
  put: #F57C00,
  delete: #D32F2F,
);

$deprecated-color: grey;

@each $method, $method-color in $method-colors {
  .#{$method}[entrypoint-method] {
    background-color: $method-color;
  }
}


[entrypoint] {
  background-color: #FAFAFA;
  padding-bottom: 1rem;
}

[entrypoint-method] {
  color: white;
  height: 2.5rem;
  margin-bottom: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  .method {
    margin-right: 1rem;
    font-size: 1rem;
  }

  .path {
    font-size: 1rem;
  }
}

[entrypoint-summary] {
  .entrypoint-action {
    align-items: center;
  }
}

[entrypoint-details] {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid hsla(0, 0%, 63%, .2);

  .table > thead > tr > th {
    border-top: none;
  }

  ul {
    list-style-type: none;
  }
}

pre {
  white-space: pre-line;
  code {
    white-space: pre-wrap;
  }
}
