<div entrypoint class="bg-break-container">
  <div entrypoint-method [ngClass]="entrypoint.method" class="bg-break-container">
    <span class="method">{{entrypoint.method.toUpperCase()}}</span>
    <span class="path">{{entrypoint.path}}</span>
  </div>

  <div entrypoint-summary class="container">
    <p>{{entrypoint.summary}}</p>
    <p *ngIf="entrypoint.description"
       [innerHTML]="entrypoint.description | marked"
       class="markdown-body text-muted"></p>

    <div class="row flex-items-xs-left entrypoint-action">
      <div class="col-xs-12 col-md-10">
        <span *ngFor="let scope of securities" class="tag tag-default">
          {{scope}}
        </span>
      </div>
      <button md-button color="accent" class="col-xs-2" (click)="toggleDetails()">
        DETAILS
      </button>
    </div>
  </div>

  <div entrypoint-details #details class="collapse bg-break-container">
    <div class="container">
      <p class="h6">Request</p>
      <div *ngIf="parameters.length > 0">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Description</th>
                <th>Type</th>
                <th>Data Type</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let parameter of parameters">
                <th>{{parameter.name}}</th>
                <th>{{parameter.description}}</th>
                <th>{{parameter.in}}</th>
                <th>
                <pre class="pre-code">
                  <code>{{parameter | parameterSchemaFormatter | async | prettyJson}}</code>
                </pre>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div>
        <ul>
          <li *ngFor="let res of responses">
            <app-response-view [name]="name + '-' + res.name" [res]="res"></app-response-view>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
