$primary-font-color: #040404;
$accent-primary-font-color: #FFFFFF;
$secondary-font-color: #404345;
$accent-secondary-font-color: #FAFAFA77;

$primary-background-color: #EEEEEE;
$secondary-background-color: #FFFFFF;
$third-background-color: #FAFAFA;

$accent-mask-color: #1B76E2;

$panel-separator-color: #CACACA;

$method-colors: (
  head: #512DA8,
  get: #0288D1,
  post: #00796B,
  put: #F57C00,
  delete: #D32F2F,
);

$app-bar-height: 3rem;
$header-height: 4rem;
