$primary-font-color: #040404;
$accent-primary-font-color: #FFFFFF;
$secondary-font-color: #404345;
$accent-secondary-font-color: rgba(#FAFAFA, 0.5);

$primary-background-color: #EEEEEE;
$secondary-background-color: #FFFFFF;
$third-background-color: #FAFAFA;

$accent-mask-color: rgba(#1B76E2, 0.81);

$panel-separator-color: #CACACA;

$method-colors: (
  head: #512DA8,
  get: #0288D1,
  post: #00796B,
  put: #F57C00,
  delete: #D32F2F,
);

$header-height: 4rem;
