$primary-font-color: rgba(#040404, 0.81);
$dark-primary-font-color: rgba(#FFFFFF, 0.81);

$method-colors: (
  head: #512DA8,
  get: #0288D1,
  post: #00796B,
  put: #F57C00,
  delete: #D32F2F,
);

$nav-board-background-color: #F2F4F5;
$nav-board-accent-background-color: rgba(#FFFFFF, 0.5);
$nav-board-accent-color: rgba(#2979FF, 0.81);

$request-board-background-color: #FFFFFF;
$request-desc-block-background-color: rgba(#EEEEEE, 0.28);

$responses-board-background-color: #393D40;
$response-block-background-color: #313437;
