<md-toolbar [color]="'primary'" class="app-toolbar">
  <button (click)="sidenav.toggle()" md-icon-button>
    <md-icon *ngIf="!sidenav.opened">menu</md-icon>
    <md-icon *ngIf="sidenav.opened">chevron_left</md-icon>
  </button>

  <h4>{{title}}</h4>
  <span class="fill-space hidden-sm-down"></span>
  <h6 *ngIf="host" class="info hidden-sm-down">Host: {{host}}</h6>
  <h6 *ngIf="basePath" class="info hidden-sm-down">BasePath: {{basePath}}</h6>
</md-toolbar>

<md-sidenav-layout>
  <md-sidenav #sidenav>
    <app-drawer></app-drawer>
  </md-sidenav>

  <div class="app-content-root">
    <div class="container app-content">
      <app-info-card></app-info-card>
      <app-entrypoint-list></app-entrypoint-list>

      <footer>
      <span>Powered with ❤️ by
        <a href="https://github.com/legendecas/material-swagger-ui"
           rel="noopener noreferrer"
           target="_blank"
           class="blue-grey-text text-darken-4"
        > material-swagger-ui</a>.
      </span>
      </footer>
    </div>
  </div>
</md-sidenav-layout>

