@import "material-theme";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$toolbar-height: 4rem;

.app-toolbar {
  position: fixed;
  z-index: 1;
  top: 0;
  height: $toolbar-height;

  .menu-btn {
    color: white !important;
  }

  span.fill-space {
    flex: 1 1 auto;
  }

  h6.info {
    margin-right: 0.5rem;
  }
}

.app-content-root {
  margin-top: $toolbar-height;
  height: calc(100vh - #{$toolbar-height});
  overflow-y: auto;
}

.app-content {
  margin-top: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
}
