@import "./variables";

.app-container {
  overflow: hidden;
  height: calc(100vh - #{$app-bar-height});
  width: 100vw;
}

.app-panel:nth-last-of-type(2) {
  border-left: 1px solid $panel-separator-color;
  border-right: 1px solid $panel-separator-color;
}
