@import "material-theme";

.app-toolbar {
  position: fixed;
  z-index: 10;
  top: 0;
}

.app-content {
  margin-top: 80px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
}
