<div class="board">
  <div class="header container flex-container" fxLayout="column" fxLayoutAlign="center center">
    <table class="info-table table">
      <tbody>
        <tr>
          <th>Base Path</th>
          <td>{{basePath}}</td>
        </tr>
        <tr>
          <th>Doc Version</th>
          <td>{{docVersion}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="content container">
    <md-nav-list dense>
      <md-list-item routerLink="/app"> Api Descriptions </md-list-item>
      <md-divider></md-divider>
      <div *ngFor="let tag of tags">
        <div md-subheader class="tag">
          <h3>{{tag.name}}</h3>
          <p>{{tag.description}}</p>
        </div>
        <md-list-item *ngFor="let entrypoint of entrypointsOfTag(tag.name)"
                      routerLink="/entrypoint/{{entrypoint.method}}{{entrypoint.path}}">
          <span class="badge badge-default method-badge">{{entrypoint.method.toUpperCase()}}</span>
          <span>{{entrypoint.path}}</span>
        </md-list-item>
      </div>
    </md-nav-list>
  </div>
</div>
