@import "../variables";

.board {
  height: 100%;
  width: 100%;
  background-color: $secondary-background-color;
  color: $primary-font-color;
}

.header {
  height: $header-height;
  border-bottom: 1px solid $panel-separator-color;
  background-color: $third-background-color;
}

.nav-link {
  cursor: pointer;
}

.nav-link.active:hover {
  color: white !important;
}

.content {
  height: calc(100% - #{$header-height});
}

.bottom-tab-full {
  height: 30%;
}

.control-bar {
  height: 3rem;
  background-color: $primary-background-color;
  border-top: 1px solid $panel-separator-color;
  border-bottom: 1px solid $panel-separator-color;
}

.response-description {
  overflow-y: auto;
}
