<div class="board">
  <div class="header container flex-container" fxLayout="row" fxLayoutAlign="start center">
    <nav class="nav nav-pills flex-container" fxLayout="row">
      <a *ngFor="let response of responses"
         class="flex-sm-fill text-sm-center nav-link"
         [class.active]="selectedResponseName === response[0]"
         (click)="switchResponse(response[0])"
      >{{response[0]}}</a>
    </nav>
  </div>
  <div class="content container flex-container" fxLayout="column"
       fxLayoutAlign="space-between stretch">
    <md-tab-group>
      <md-tab label="Headers" *ngIf="headers.length > 0">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let header of headers">
              <th>{{header[0]}}</th>
              <td>{{header[1].description}}</td>
              <td>{{header[1].type}}</td>
            </tr>
          </tbody>
        </table>
      </md-tab>
      <md-tab label="Body">
        <h1>Some body tab content</h1>
        <p>...</p>
      </md-tab>
    </md-tab-group>
    <div class="bottom-tab flex-item" [class.bottom-tab-full]="showDescription">
      <div class="control-bar">
        <div class="container flex-container h-100" fxLayout="row" fxLayoutAlign="start center">
          <button md-icon-button class="flex-item" (click)="toggleDescription()">
            <md-icon [hidden]="!showDescription">visibility</md-icon>
            <md-icon [hidden]="showDescription">visibility_off</md-icon>
          </button>
        </div>
      </div>
      <div [hidden]="!showDescription" class="response-description">
        <article [innerHTML]="selectedResponse?.description | marked"></article>
      </div>
    </div>
  </div>
</div>
