header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

ul.side-nav > li > a {
  font-weight: bold;
}

ul.side-nav > li > a > span {
  font-weight: normal;
  margin-left: 8px;
}

.side-nav li .collapsible-body ul > .active {
  background-color: rgba(0, 0, 0, 0.08) !important;
}

.side-nav li .collapsible-body ul > .active a {
  color: #000 !important;
}
