header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

ul.side-nav > li > a.collapsible-header {
  font-weight: bold;
}
