.entrypoint-method {
  height: 55px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  line-height: 48px;
  display: flex;
  align-items: center;
  padding-left: 2vw;
}

.entrypoint-method-name {
  font-size: 24px;
  margin-right: 1.5vw;
}

.entrypoint-method-path {
  font-size: 20px;
}

.entrypoint-get {
  background-color: #2196F3;
}

.entrypoint-post {
  background-color: #009688;
}

.entrypoint-put {
  background-color: #FF9800;
}

.entrypoint-del {
  background-color: #FF5722;
}

.card-content > .entrypoint-info {
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.card-content > .entrypoint-details-btn {
  float: right;
}
