<div class="board">
  <div class="header container flex-container" fxLayout="row" fxLayoutAlign="center center">
    <div class="entrypoint-address-container card card-outline-primary flex-item">
      <div class="flex-container" fxLayout="row">
        <span>{{method}}</span>
        <span>{{path}}</span>
      </div>
    </div>
  </div>
  <div class="content container">
    <md-tab-group>
      <md-tab label="Headers">
        <table class="table">
          <thead>
            <tr>
              <th>Header Name</th>
              <th>Header Type</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Authorization</th>
              <td>string</td>
            </tr>
            <tr>
              <th>Content-Type</th>
              <td>string</td>
            </tr>
            <tr>
              <th>Foobar</th>
              <td>string</td>
            </tr>
          </tbody>
        </table>
      </md-tab>
      <md-tab label="URL Params">
        <table class="table">
          <thead>
            <tr>
              <th>URL Parameter</th>
              <th>Value Type</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Authorization</th>
              <td>string</td>
            </tr>
            <tr>
              <th>Content-Type</th>
              <td>string</td>
            </tr>
            <tr>
              <th>Foobar</th>
              <td>string</td>
            </tr>
          </tbody>
        </table>
      </md-tab>
      <md-tab label="Body">
        <h1>Some body tab content</h1>
        <p>...</p>
      </md-tab>
    </md-tab-group>
  </div>
</div>
